/* Hola */

* {

    box-sizing: border-box;
    user-select: none;

}

body    {

    margin: 0;
    border: 0;
    background-color: rgb(18, 18, 18);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 300px;
    min-height: 100vh;

}

h1  {

    flex: 0;
    text-align: center;
    width: 70%;
    min-width: 250px;
    margin-top: 0;

}
