/* Hola */

* {

    box-sizing: border-box;
    user-select: none;

}

body    {

    margin: 0;
    border: 0;
    background-color: rgb(18, 18, 18);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 300px;
    min-height: 100vh;

}

#practicas   {

    position: absolute;
    top: 10px;
    left: 10px;

    padding: 2px;

    background-color: rgb(255, 217, 0);
    color: black;

    border: 2px solid red;
    border-radius: 5px;

    text-decoration: none;
    font-style: normal;
    font-size: 150%;

}

h1  {

    flex: 0;
    text-align: center;
    width: 70%;
    min-width: 250px;
    margin-top: 0;

}

canvas  {

    border: 2px solid red;
    border-radius: 8px;

}
